// Navigation Styles here
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    border-bottom: 2px dashed @navigation-border;

    h1 {
        margin-left: 29%;
    }
    
    nav {
        margin-right: 30%;

        a {
            font-family: 'Roboto', sans-serif;
            font-size: 1.6rem;
            padding: 10px;
            text-decoration: none;
            color: @shark;
        }
    }
}